html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #efefef;
  background: #000000;
}

a:link {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #8B0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

#nav {
  top: 0;
  left: 0;
  width: 100%; 
  position: fixed;
  height: 30px;
  background-color: #000000;
}

#menu {
  margin-top: 0px;
}

#menu ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  text-align: right;
  text-transform: uppercase;
  background: #000;
}

#menu li {
  display: inline;
  padding-left: 40px; 
  background: #333; 
  padding-right: 5px;
}

#menu a, menu a:link, menu a:visited { 
  color: #ffffff;
  text-decoration: none; 
}

#menu a:hover {
  color: #ffffff;
  text-decoration: none; 
}

#content-wrapper {
  margin-top: 30px; 
  width: 1200px;
}

